body {
    font: 18px Arial, sans-serif;

    background: #ffcce8;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transition-duration: 1s;
	padding: 20px;
}

.card {
	width: 75%;
	margin: 0 auto;
	background-color: white;
	padding: 1px 20px 20px;
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 25px;
}

/* Remove underline from links until hover */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.card, .subheader {
	  width: 100%;
	  padding: 1px 20px 20px;
	}
}