
body {
    font: 18px Arial, sans-serif;

    background: #ffcce8;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transition-duration: 1s;
}

.title {
    padding: 20px;

    font-size: 57px;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: 15px;
    color: #000000;
    word-spacing: -15px;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;

    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: 200px;
    margin-left: 200px;
}

.info {

    background-image: linear-gradient(to right,
    rgba(200, 200, 255, 0.4),
    rgba(255, 225, 225, 0.4),
    rgba(255, 255, 255, 0.5),
    rgba(255, 225, 225, 0.4),
    rgba(200, 200, 255, 0.4)
    );

    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: 150px;
    margin-left: 150px;
}

.table {
    background-color: #f7fbff;
    border: 1px solid black;
    flex-grow: 1;
}

.tr {
    border: 1px solid black;

}

.tr:hover{
    background:black;
}

.td {
    border: 1px solid black;
}

.hoverable {
    background-color: #FFFFFF;
}
.hoverable:hover {
    background-color: #000000;
}